.brand-logo img {
  height: 25px;
  margin: 15px 0 0 0;
}

#splash-blue {
  background-color: #272D4E;
  background-image: url(../img/bg-back-main.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}
.main-content {
  box-sizing: content-box !important;
  -webkit-box-sizing: content-box !important;
}

nav {
  color: #212121;
  background-color: #fff;
  width: 100%;
  line-height: 56px;
}

a:hover, a:focus {
  color: none !important;
}

nav ul a {
  font-size: 1rem;
  color: #212121;
  display: block;
  padding: 0 15px;
}

.main-bg-text {
  font-family: 'Poiret One', cursive;
  font-size: 4.2em;
}

.main-text {
  font-weight: 400;
  font-size: 1.3rem;
  color: #acacac;
  margin-bottom: 30px;
}

.page-footer {
  background-color: #414B82 !important;
  padding-top: 30px !important;
}

.btn-2-yellow {
  margin-bottom: 30px;
}

.mdi-navigation-menu {
  color: #000000;
}

.right.hide-on-med-and-down {
  cursor: pointer;
}

.markdown-col {
  border-left: 1px solid #bababa;
}
.rem-list {
  cursor: pointer;
}

.img-center-align {
  margin: 0 auto;
}

.not-found-text {
  text-align: center;
  font-size: 300;
}

.form-mkd {
  border: 1px solid #bababa;
  border-top: 0;
  border-bottom: 0;
  border-radius: 5px;
  background: #F5F5F5;
}

.td-ref {
  padding: 15px 0;
}
.td-link, .singlepage-ref-link {
  word-break: break-all;
}
.ref-subheader {
  font-size: 30px;
  text-decoration: underline;
}

.circle {
  margin: 0 auto;
}

.content-row {
  padding-top: 30px !important;
  background-color: #F1F1F1;
  border-radius: 5px;
}

pre code {
  color: #673AB7;
}
.prettyprint ol {
  padding-left: 40px;
}

.prettyprint img {
  width: 100%;
}
.secondary-content.time-ago {
  color: #272D4E;
}
.grip-list {
  border: none;
  box-sizing: content-box !important;
  -webkit-box-sizing: content-box !important;
}
.md-dialog-container {
  display: 0;
}
.indeterminate-preloader.progress {
  color: #bcbcbc;
}
.mdi-likes {
  cursor: pointer;
}
md-toolbar.md-default-theme {
  background-color: #272D4E !important;
}
.side-home-nav {
  background-color: #fbc02d !important;
}


