footer.page-footer
      .container
        .row
          .col.l6.s12
            h5.white-text Andel-Digest
            p.grey-text.text-lighten-4 Read the work flow
          .col.l4.offset-l2.s12
            h5.white-text ^hello World
      .footer-copyright
        .container
          | © 2015 Copyright With Love By Stephens.
          a.grey-text.text-lighten-4.right(href='http://andela.co') Andela