meta(name='HandheldFriendly' content='True')
meta(name='MobileOptimized' content='320')
meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

base(href="/")

// CDN provided
link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" type="text/css")
link(rel="stylesheet" href="2//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic" type="text/css")
link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Poiret+One|Abel|Raleway|Roboto+Condensed" type="text/css")

link(href="/img/Andela_icon.png" rel="shortcut icon" type='image/x-icon')
//build:css /dist/style.css
link(rel="stylesheet" href="/lib/github-markdown-css/github-markdown.css" type="text/css")
link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" type="text/css")
link(rel="stylesheet" href="/lib/angular-material/angular-material.css" type="text/css")
link(rel="stylesheet" href="/lib/angular-infinitescroll/infinitescroll.min.css" type="text/css")
link(rel="stylesheet" href="/lib/angular-block-ui/dist/angular-block-ui.css" type="text/css")
link(rel="stylesheet" href="/lib/materialize/dist/css/materialize.css" type="text/css")
link(rel="stylesheet" href="/lib/ng-tags-input/ng-tags-input.css" type="text/css")
link(rel="stylesheet" href="/lib/angular-toastr/dist/angular-toastr.css" type="text/css")
link(rel="stylesheet" href="/lib/sweetalert/lib/sweet-alert.css" type="text/css")
link(rel="stylesheet" href="/css/style.css" type="text/css")
// endbuild

// build:js /dist/lib.js
script(type="text/javascript" src="/lib/jquery/dist/jquery.min.js")
script(type="text/javascript" src="/lib/lodash/lodash.min.js")
script(type="text/javascript" src="/lib/moment/moment.js")
script(type="text/javascript" src="/lib/sweetalert/lib/sweet-alert.js")
script(type="text/javascript" src="/lib/angular/angular.js")
script(type="text/javascript" src="/lib/ng-tags-input/ng-tags-input.js")
script(type="text/javascript" src="/lib/angular-sweetalert/SweetAlert.js")
script(type="text/javascript" src="/lib/angular-material/angular-material.js")
script(type="text/javascript" src="/lib/angular-infinitescroll/infinitescroll.js")
script(type="text/javascript" src="/lib/materialize/dist/js/materialize.js")
script(type="text/javascript" src="/lib/materialize/js/parallax.js")
script(type="text/javascript" src="/lib/materialize/js/scrollFire.js")
script(type="text/javascript" src="/lib/angular-ui-router/release/angular-ui-router.js")
script(type="text/javascript" src="/lib/showdown/compressed/extensions/github.min.js")
script(type="text/javascript" src="/lib/showdown/compressed/extensions/prettify.min.js")
script(type="text/javascript" src="/lib/angular-animate/angular-animate.js")
script(type="text/javascript" src="/lib/angular-block-ui/dist/angular-block-ui.js")
script(type="text/javascript" src="/lib/angular-messages/angular-messages.min.js")
script(type="text/javascript" src="/lib/angular-moment/angular-moment.min.js")
script(type="text/javascript" src="/lib/gsap/src/minified/TweenMax.min.js")
script(type="text/javascript" src="/lib/ngFx/dist/ngFx.min.js")
script(type="text/javascript" src="/lib/ng-loaders/ngLoader.min.js")
script(type="text/javascript" src="/lib/angular-utils-pagination/dirPagination.js")
script(type="text/javascript" src="/lib/showdown/compressed/Showdown.js")
script(type="text/javascript" src="/lib/angular-sanitize/angular-sanitize.js")
script(type="text/javascript" src="/lib/angular-aria/angular-aria.js")
script(type="text/javascript" src="/lib/angular-markdown-text/dist/angular-markdown-text.js")
script(type="text/javascript" src="/lib/angular-cookies/angular-cookies.js")
script(type="text/javascript" src="/lib/angular-toastr/dist/angular-toastr.tpls.js")
script(type="text/javascript" src="/lib/angular-elastic/elastic.js")
script(type="text/javascript" src="/lib/hammerjs/hammer.js")
script(type="text/javascript" src="/lib/firebase/firebase.js")
script(type="text/javascript" src="/lib/angularfire/dist/angularfire.js")
// endbuild

script(type="text/javascript" src="/js/index.js")
