section
  md-toolbar.md-primary
    h1.md-toolbar-tools
      | Share Some Knowledge
  br
  h3
    | Please share your KB article using the markdown format, it follows the 
    | git standard. If you don't know how to write markdowns or have forgotten something
    | follow this link 
    a(href='https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet' target='_blank') Markdown Cheat Sheet
  .row
    .col.s12.m6.l6.markdown-col
      .row
        form.col.s12(name='articleForm' ng-submit="submitForm(articleForm.$valid)" novalidate)
          .row
            .input-field.col.s12
              label(for='textarea1') Textarea
              textarea#textarea1.validate.materialize-textarea(ng-minlength="10" name="kbArticleTextbox" ng-model='markdown' required)
              div(style="color:red" ng-show="articleForm.kbArticleTextbox.$dirty && articleForm.kbArticleTextbox.$invalid")
                div(ng-show="articleForm.kbArticleTextbox.$error.required") This is required.
                p(ng-show="articleForm.kbArticleTextbox.$error.minlength") Text should be more than 10 characters before preview can be seen.
                //- div(ng-message='md-maxlength') The name has to be less than 30 characters long.
              a#start-now-hero.btn.waves-effect.waves-light.yellow.darken-2.btn-2-yellow(ng-disabled="articleForm.$invalid" ng-click='SaveKbArticle()')
                span.dark-grey-text Submit Guide
    .col.s12.m6.l6
      markdown.prettyprint(markdown-model='markdown')
      
