section
  .row
    .col.s12.center-align#splash-blue
      h1.white-text.main-bg-text
        | The knowledge based platform
        br
        | for Andela developers
      h6.main-text Code what matters most.
      div#start-now-hero.btn.waves-effect.waves-light.yellow.darken-2.btn-2-yellow
        span.dark-grey-text #ThisIsAndela
.row#side-nav.main-content
  .col.s12.m3.l3.center
    md-toolbar.md-primary
      h3.md-toolbar-tools.side-home-nav
        | Categorized
    md-list-item.md-3-line.fx-fade-down.fx-easing-bounce.fx-speed-800
      .md-list-item-text
        ul.collection
          li.collection-item(data-ng-repeat='tags in defaultTags')
            a(href='#') {{ tags.text }}
    md-toolbar.md-primary
      h3.md-toolbar-tools.side-home-nav-light-blue
        | Top Articles 
    md-list-item.md-3-line.fx-fade-down.fx-easing-bounce.fx-speed-800(data-ng-repeat='todo in todos')
      .md-list-item-text
        p {{ todo.who }}
        p
          | Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.
    md-toolbar.md-primary
      h3.md-toolbar-tools.side-home-nav
        | Tags 
    md-list-item.md-3-line.fx-fade-down.fx-easing-bounce.fx-speed-800
      .md-list-item-text
        ul.collection
          li.collection-item(data-ng-repeat='tags in sortTags')
            a(href='/search/tag/{{tags}}') {{ tags | uppercase}}
  .col.s12.m9.l9
    #main-interlude-white.interlude
      md-toolbar.md-primary
        h3.md-toolbar-tools
           | Write less code. Build products faster.
    h6.grey-text
      | Focus on creating unique & engaging apps. We take care of everything else your app needs.
    .preloader-wrapper.big.active
      .spinner-layer.spinner-blue-only
        .circle-clipper.right
          .circle
      .gap-patch
        .circle
      .circle-clipper.right
        .circle
    ul.collection.grip-list
      li.collection-item.avatar(dir-paginate='articles in kbarticles | orderBy:"-timestamp" | itemsPerPage: 9')
        img.circle(ng-src='{{articles.picture || "http://0.gravatar.com/avatar/"}}', alt='')
        a(ng-href='/kbarticle/{{articles.$id}}#top')
          span.title {{articles.title}}
        p.truncate
          |  {{articles.subtitle || 'The beautiful subtitle hasn\'t been born, but the knowledge is within'}}
          br
          | By {{articles.owner || 'Stranger'}} | {{articles.timestamp | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}
        p.secondary-content.time-ago
          | {{articles.timestamp | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}
    dir-pagination-controls(template-url='/lib/angular-utils-pagination/dirPagination.tpl.html')
