section#splash-blue
  .row
    .col.s12.center-align
      h1.white-text.main-bg-text
        | The knowledge based platform
        br
        | for Andela developers
      h6.main-text Code what matters most.
      a#start-now-hero.btn.waves-effect.waves-light.yellow.darken-2.btn-2-yellow(href='https://editor.stamplay.com/register?utm_source=stamplay&utm_content=hero_section&utm_medium=website')
        span.dark-grey-text start now
.row#side-nav
  .col.s12.m3.l3.z-depth-2
    h1
      | Featured
    md-list-item.md-3-line(data-ng-repeat='todo in todos')
      img.md-avatar.circle.responsive-img(ng-src='{{todo.face}}?25', alt='{{todo.who}}')
      .md-list-item-text
        h3 {{ todo.who }}
        p
          | Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.
  .col.s12.m9.l9
    #main-interlude-white.interlude
    h3 Write less code. Build products faster.
    h6.grey-text
      | Focus on creating unique & engaging apps. We take care of everything else your app needs.
    .preloader-wrapper.big.active
      .spinner-layer.spinner-blue-only
        .circle-clipper.right
          .circle
      .gap-patch
        .circle
      .circle-clipper.right
        .circle
    ul.collection
      li.collection-item.avatar(dir-paginate='articles in kbarticles | orderBy:"-timestamp" | itemsPerPage: 10')
        img.circle(ng-src='{{articles.picture || "http://0.gravatar.com/avatar/"}}', alt='')
        a(ng-href='/kbarticle/{{articles.$id}}')
          span.title {{articles.title}}
        p
          |  {{articles.subtitle || 'The beautiful subtitle hasn\'t been born, but the knowledge is within'}}
          br
          | By {{articles.owner || 'Stranger'}}
        p.secondary-content.time-ago
          | {{articles.timestamp | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}
        a(href='#!')
          i.mdi-action-grade
    dir-pagination-controls(template-url='/lib/angular-utils-pagination/dirPagination.tpl.html')
