section(data-ng-controller='KbCtrl')
  md-toolbar.md-warn
    .md-toolbar-tools
      h2.md-flex#top {{singleData.title}}
  md-content(layout-padding='', style='padding: 24px;')
    .row
      .col.s12.m3.l3.singlepage-ref-link
        p.ref-subheader
          |  References
        ul
          li(data-ng-repeat='reference in singleData.referenceUrls | limitTo: 3')
            a(ng-href='{{reference.refUrl}}' target='_blank') {{reference.refUrl || 'No References'}}
            hr
        div(data-ng-show='!singleData.referenceUrls.length')
          | No references
        div(ng-show='singleData.referenceUrls.length > 3')
          md-button#btn-commends.md-raised.md-primary.md-hue-2(ng-click='showDialog($event)')
            | View all references ({{singleData.referenceUrls.length}})
        p.ref-subheader
          | Owner: 
          {{singleData.owner}}
        img(ng-src='{{singleData.picture || "img/andel-avatar.png"}}' width='196' height='196')
        hr
        p
          | Last Edited by {{singleData.last_edited.by}}
        span(am-time-ago='singleData.last_edited.when')
      .col.s12.s9.l9.m9.content-row(data-ng-init='working = true')
        div.indeterminate-preloader(loader working="working" message="Loading...")
        markdown.prettyprint(markdown-model='singleData.story')
  .row.center.home-info
    .col.s12.m6.l6
      .center.promo
        i.large.mdi-action-face-unlock
        p.promo-caption Contributions
        a(href='kbarticle/edit/{{singleData.push_key}}') Click here to contribute
    .col.s12.m6.l6
      .center.promo
        div(data-ng-show='!currentUser')
          i.large.mdi-action-grade
          p Sadly you have to be logged in to like this article
        div(data-ng-show='currentUser')
          div(data-ng-if='val != currentUser.uid')
            i.large.mdi-action-grade.mdi-likes(data-ng-click='like_counter()')
            p Click the star to like this article
          div(data-ng-if='val == currentUser.uid')
            i.large.mdi-action-grade(data-ng-style="{'color': 'gold'}")
            p You have already liked this article
        p.promo-caption Rates
        p.light.center
          span.display-block {{length_val || 0}} Like(s)
    .container
      #disqus_thread
      noscript
        | Please enable JavaScript to view the 
        a(href="https://disqus.com/?ref_noscript" rel ="nofollow") comments powered by Disqus.